@font-face {
    font-family: "doctor";
    src: url(../assets/Doctor\ Glitch.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "crimsonb";
    src: url(../assets/CrimsonText-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "roboto";
    src: url(../template/assets/Caveat-Regular.ttf);
    font-weight: bold;
    font-style: normal;
}