

$colorOne: #00293c;
$colorTwo: #1e656d;
$colorThree: #f1f3ce;
$colorFour: #ffc961;
$colorFive: #ff7f50;

.bgcolor1 {
    background-color: $colorOne;
}
.bgcolor2 {
    background-color: $colorTwo;
}
.bgcolor3 {
    background-color: $colorThree;
}
.bgcolor4 {
    background-color: $colorFour;
}
.bgcolor5 {
    background-color:$colorFive;
    
}


.color1 {
    color: $colorOne;
}
.color2 {
    color: $colorTwo;
}
.color3 {
    color: $colorThree;
}
.color4 {
    color: $colorFour;
}
.color5 {
    color: $colorFive;
}
